*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background: #f6f6f6;
	color: #5c5b5b;
}

@import './templates/header/header';
@import './templates/footer/footer';

@import './pages/index/index_styles';
@import './pages/login/login_styles';
