* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background: #f6f6f6;
  color: #5c5b5b; }

header {
  color: #ffffff;
  background: #008484; }
  header .con {
    width: 80%;
    margin: 0 auto;
    display: flex; }
    @media (max-width: 767px) {
      header .con {
        display: block;
        width: 100%; } }
  header .logo {
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      header .logo {
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center; } }
  header .navbar {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: end;
    height: 55px;
    list-style-type: none; }
    @media (max-width: 767px) {
      header .navbar {
        display: block;
        height: 100%;
        width: 100%; } }
    header .navbar .navbar-item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 767px) {
        header .navbar .navbar-item {
          display: block;
          width: 100%;
          text-align: center;
          vertical-align: middle; } }
    header .navbar .navbar-item:hover {
      transition: 0.5s;
      background-color: #006669; }
    header .navbar .navbar-link {
      color: #ffffff;
      display: block;
      padding: 10px; }
    header .navbar .user-select-list {
      width: 120px;
      z-index: 10; }
      @media (max-width: 767px) {
        header .navbar .user-select-list {
          width: 100%; } }
      header .navbar .user-select-list .icon {
        margin-right: 10px; }
      header .navbar .user-select-list .user-action {
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: #008484;
        top: 55px;
        display: none; }
        @media (min-width: 768px) {
          header .navbar .user-select-list .user-action {
            position: absolute; } }
      header .navbar .user-select-list .user-action .navbar-item {
        text-align: center; }
        @media (min-width: 768px) {
          header .navbar .user-select-list .user-action .navbar-item {
            width: 120px; } }
    header .navbar .user-select-list:hover .user-action {
      display: block; }

.topPost .topPost-sliderTitle {
  text-align: center;
  padding: 30px 0; }

.topPost .topPost-carousel .carousel-inner {
  border-radius: 20px 20px 0  0; }

.topPost .topPost-carousel img {
  object-fit: cover;
  width: 100%;
  height: 500px; }

.last-posts .header {
  margin: 30px 0;
  text-align: center; }

.last-posts .content .topic {
  background-color: #ffffff;
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom: 10px; }
  @media (min-width: 1023px) {
    .last-posts .content .topic {
      float: right;
      width: 33%; } }
  .last-posts .content .topic .topic-header {
    text-align: center;
    margin-top: 10px; }
  .last-posts .content .topic .list {
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    margin: 10px; }
    .last-posts .content .topic .list > div {
      border-bottom: 1px solid #e0e0e0; }
    .last-posts .content .topic .list .list-item {
      color: #5c5b5b;
      width: 100%;
      font-size: 1.2em; }
    .last-posts .content .topic .list > div:hover {
      padding-left: 10px;
      transition: all 0.3s; }

@media (min-width: 1023px) {
  .last-posts .content .posts {
    width: 66%; } }

.last-posts .content .posts .post-card {
  border: 1px solid silver;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  background: #ffffff; }
  @media (min-width: 767px) {
    .last-posts .content .posts .post-card {
      display: flex;
      justify-content: space-between; } }
  .last-posts .content .posts .post-card .img {
    height: 200px; }
    @media (min-width: 767px) {
      .last-posts .content .posts .post-card .img {
        width: 28%; } }
    .last-posts .content .posts .post-card .img img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 3px; }
  @media (min-width: 767px) {
    .last-posts .content .posts .post-card .content {
      width: 70%; } }
  .last-posts .content .posts .post-card .content .title {
    margin: 20px 0 5px 0;
    text-align: center; }
    @media (min-width: 767px) {
      .last-posts .content .posts .post-card .content .title {
        margin: 10px 0 10px 0; } }
    .last-posts .content .posts .post-card .content .title a {
      color: #5c5b5b; }
    .last-posts .content .posts .post-card .content .title:hover {
      text-decoration: underline;
      color: #5c5b5b; }
  .last-posts .content .posts .post-card .content .name-author::before,
  .last-posts .content .posts .post-card .content .data-post::before {
    margin: 0 10px; }
  .last-posts .content .posts .post-card .content .text * {
    text-align: justify;
    text-indent: 30px; }

footer {
  background-color: #303036;
  color: #d3d3d3;
  padding: 10px; }

footer .description-blog {
  width: 100%; }
  footer .description-blog .header-desc {
    text-align: center;
    padding-top: 10px; }
  footer .description-blog .contacts {
    display: flex;
    justify-content: space-around; }

footer .quickLinks {
  height: 100%;
  margin-top: 10px; }
  footer .quickLinks .linksList .link {
    display: inline;
    margin: 10px;
    text-decoration: dotted; }
  @media (min-width: 767px) {
    footer .quickLinks {
      float: right;
      width: 48%; } }

footer .feedback .text-input,
footer .feedback .input-email {
  background: #303036;
  border: 2px solid silver;
  color: white; }
  footer .feedback .text-input::placeholder,
  footer .feedback .input-email::placeholder {
    color: white;
    text-indent: 10px; }

footer .feedback .input-email {
  display: block;
  width: 100%;
  margin-bottom: 5px; }

footer .feedback .text-input {
  width: 100%; }

footer .feedback .contact-btn {
  width: 100%;
  display: block;
  color: white; }
  footer .feedback .contact-btn i::before {
    margin-right: 10px; }

@media (min-width: 767px) {
  footer .feedback {
    width: 48%; } }
